[package]
name = "itchy"
authors = ["Alex Whitney <adwhit@fastmail.com>"]
version = "0.2.1"
description = "Nom-based parser library for NASDAQ ITCH protocol"
repository = "https://github.com/adwhit/itchy-rust"
keywords = ["nasdaq", "itch", "nom"]
license = "MIT"
edition = "2018"

[dependencies]
arrayvec = "0.5"
decimal = "2.0"
error-chain = "0.12"
flate2 = "1.0"
nom = "4.2"
