[package]
name = "itchy"
authors = ["Alex Whitney <adwhit@fastmail.com>"]
version = "0.1.1"
description = "Nom-based parser library for NASDAQ ITCH protocol"
repository = "https://github.com/adwhit/itchy-rust"
keywords = ["nasdaq", "itch", "nom"]
license = "MIT"
edition = "2018"

[dependencies]
arrayvec = "0.4.1"
decimal = "1.0.1"
error-chain = "0.11.0"
flate2 = "0.2.20"
nom = "3.2.0"
